._ {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 285px;
  background-color: transparent;
}

._ .formWrapper {
  color: rgb(var(--foreground-rgb));
  padding: 1.5rem;
  border-radius: 2px;
}

._ .formWrapper form {
  display: flex;
  flex-direction: column;
}

._ .formWrapper form .inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: stretch;
  justify-content: stretch;
}

._ .formWrapper form .inputField input,
._ .formWrapper form .inputField input:focus,
._ .formWrapper form .inputField input:active {
  outline: none;
  font-size: 1rem;
}

._ .formWrapper form .inputField label {
  /* color: rgba(102, 0, 204, 1); */
  color: deepskyblue;
}

._ .formWrapper form .inputField input {
  border: 2px solid rgba(102, 0, 204, 1);
  background-color: rgba(102, 0, 204, 0.05);
  line-height: 2rem;
  padding: 0 1rem;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  text-align: center;
  font-weight: 300;
}

._ .formWrapper form .inputField p.fieldSuccess,
._ .formWrapper form .tosAcceptWrapper p.fieldSuccess {
  font-size: 0.9rem;
  font-weight: 300;
  color: lightgreen;
}

._ .formWrapper form .inputField p.fieldError,
._ .formWrapper form .tosAcceptWrapper p.fieldError {
  font-size: 0.9rem;
  font-weight: 300;
  color: red;
}

._ .formWrapper form .inputField p.fieldError ul,
._ .formWrapper form .tosAcceptWrapper p.fieldError ul {
  padding-left: 1rem;
}

._ .formWrapper form .tosAcceptWrapper {
  font-weight: 200;
}

._ .formWrapper form .tosAcceptWrapper label {
  cursor: pointer;
  font-size: 0.9rem;
}

._ .formWrapper form .tosAcceptWrapper label input[type=checkbox] {
  margin-right: 0.35rem;
  height: 18px;
  width: 18px;
  vertical-align: text-bottom;
}

._ .formWrapper form .tosAcceptWrapper label a {
  color: rgb(var(--link-rgb));
  text-decoration: underline;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}

._ .formWrapper form .submitButtonWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

._ .formWrapper form .submitButtonWrapper button {
  border: 0px;
  border-radius: 5px;
  line-height: 2rem;
  background: linear-gradient(to bottom right, rgba(102, 0, 204,1) 0%, rgba(77,0,153,1) 100%);
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  line-height: 2.4rem;
}

._ .loginResult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 200;
}

._ .loginResult > * {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

._ .loginResult p.loginSuccess {

}

._ .loginResult p.loginError {

}

@media (prefers-color-scheme: dark) {
  ._ {

  }

  ._ .formWrapper form .inputField label {
    color: lightskyblue;
  }
}

/* Mobile */
@media screen and (max-width: 700px) {
  ._ {
    width: 100%;
  }
}
