._ {
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  background: linear-gradient(to bottom right, rgba(102, 0, 204,1) 0%, rgba(77,0,153,1) 100%);
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 20px 5px rgba(0,0,0,0.25);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 4rem;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.main .logo {
  background: transparent url('/icon.png') no-repeat center center;
  background-size: 25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.95;
}

.navigation {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: right;
  position: relative;
  z-index: 2;
}

.navigation ol {
  list-style: none;
  font-size: 5vh;
  color: rgba(255,255,255,1);
  transition: all 333ms;
}

.navigation ol:hover {
  color: rgba(255,255,255,0.5);
}

.navigation ol li {

}

.navigation ol li a {
  transition: all 333ms;
  border-right: 4px solid;
  padding-right: 1rem;
  text-shadow: 0px 0px 25px rgba(0,0,0,0.25);
}

.navigation ol li a:hover {
  color: rgba(255,255,255,1);
}

.text {
  display: flex;
  flex-direction: column;
  width: 30vw;
  line-height: 1;
  text-shadow: 0px 0px 25px rgba(0,0,0,0.25);
  color: #fff;
  position: relative;
  z-index: 2;
}

.text p.primary,
.text h1.primary {
  font-size: 14vh;
  line-height: 0.9;
  margin-bottom: 1rem;
  font-weight: 400;
}

.text p.secondary {
  font-size: 8vh;
  font-weight: 200;
}

/* Tablet and Smaller Desktop */
@media screen and (max-width: 700px) {
  .navigation {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .main {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem;
  }

  .main .logo {
    background-size: 50%;
  }

  .navigation ol {
    font-size: 2.1rem;
  }

  .text {
    width: 100%;
    margin-bottom: 7vh;
  }

  .text p.primary,
  .text h1.primary {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .text p.secondary {
    font-size: 2.1rem;
  }
}
