._ {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

/* Light mode only */
@media (prefers-color-scheme: light) {
  ._ {

  }
}

/* dark mode only */
@media (prefers-color-scheme: dark) {
  ._ {

  }
}

/* Mobile */
@media screen and (max-width: 700px) {
  ._ {

  }
}

/* landscape mobile */
@media screen and (max-width: 700px) and (orientation: landscape) {
  ._ {

  }
}
