._ {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.service {
  font-size: 0.9rem;
  color: rgba(var(--text-rgb), 0.5);
  font-weigt: 200;
}

.screen-name {
  font-size: 3vh;

}

/* Mobile */
@media screen and (max-width: 700px) {
  ._ {

  }
}
