._ {
  display: flex;
  flex-direction: row;
  position: relative;
  background: rgba(0,0,0,1);
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 2rem 6rem 4rem;
  color: #fff;
}

.developer {
  display: flex;
  font-size: 0.9rem;
  font-weight: 200;
}

.developer a {
  margin-left: 0.3rem;
}

.spacer {
  display: flex;
  flex: 1;
}

.rhs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 0.9rem;
  font-weight: 200;
}

.copyright {
  display: flex;
  color: rgba(255,255,255,0.8);
}

.login {

}

.login a {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  ._ {
    background: rgba(255,255,255,1);
    border-top: 1px solid rgba(0,0,0,0.1);
    color: #000;
  }

  .copyright {
    color: rgba(0,0,0,0.8);
  }
}

/* Mobile */
@media screen and (max-width: 700px) {
  ._ {
    padding: 1rem;
    line-height: 1;
  }
}
