.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.postFormWrapper,
.posts {
  margin-top: 3rem;
}

.postFormWrapper {
  background-color: rgba(var(--background-end-rgb), 1);
  color: rgb(var(--foreground-rgb));
  padding: 0;
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.25);
  width: 800px;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.post {
  background-color: rgba(var(--background-end-rgb), 1);
  color: rgb(var(--foreground-rgb));
  padding: 0.8rem 1rem;
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.25);
  margin-bottom: 0.5rem;
}

.post div.postImages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.25rem;
  background-color: rgba(var(--background-start-rgb), 1);
  margin: 0.75rem -1rem 0.75rem;
}

.post div.postImages div.postImage {
  display: flex;
  width: 50%;
  padding: 0.25rem;
  height: 300px;
  position: relative;
}

.post div.postImages.fullSize div.postImage {
  width: 100%;
  height: 600px;
}

.post div.postImages div.postImage div {
  display: flex;
  position: relative;
  flex: 1;
  background-color: rgba(var(--foreground-rgb), 0.1);
}

.post div.postContent,
.post div.postDate {
  font-weight: 200;
}

.post div.postDate {
  font-size: 0.8rem;
  color: rgba(var(--foreground-rgb), 0.5);
}

/* Mobile */
@media screen and (max-width: 700px) {
  .main {
    padding: 2rem 1rem 2rem;
  }

  .postFormWrapper,
  .posts {
    margin-top: 1rem;
    width: 100%;
  }

  .main h1 {
    margin-top: 2rem;
  }

  .post div.postImages.fullSize div.postImage {
    width: 100%;
    height: 40vh;
  }

  .post div.postImages div.postImage {
    height: 20vh;
  }
}

@media (prefers-color-scheme: dark) {
  .main {

  }
}
