.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.post-form-wrapper,
.posts {
  margin-top: 3rem;
}

.post-form-wrapper {
  background-color: rgba(var(--background-end-rgb), 1);
  color: rgb(var(--foreground-rgb));
  padding: 0.8rem 1rem;
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.25);
  width: 800px;
  border-bottom: 4px solid;
}

.feeds {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.feed {
  background-color: rgba(var(--background-end-rgb), 1);
  color: rgb(var(--foreground-rgb));
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.25);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.feed a {
  padding: 0.8rem 1rem;
  display: flex;
  flex: 1;
}

/* Mobile */
@media screen and (max-width: 700px) {
  .main {
    padding: 2rem 1rem 2rem;
  }

  .feed-form-wrapper,
  .feeds {
    margin-top: 1rem;
    width: 100%;
  }

  .main h1 {
    margin-top: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  .main {

  }
}
