.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.section {
  padding-top: 3rem;
}

.section h3 {
  margin-bottom: 2rem;
  font-weight: 200;
}

/* Mobile */
@media screen and (max-width: 700px) {
  .main {
    padding: 2rem 1rem 2rem;
  }

  .section {
    padding-top: 3.5rem;
  }

  .section h3 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .main {

  }
}
