.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main div.dblSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main div.dblSection.reverse {
  flex-flow: row-reverse;
}

.main div.dblSection.reverse section.section {
  text-align: right;
  justify-content: flex-end;
}

.main div.dblSection > section {
  display: flex;
  flex: 1;
}

.main div.dblSection > section:last-of-type {
  margin-left: 2vw;
}

.main div.dblSection.reverse > section:last-of-type {
  margin-left: 0;
  margin-right: 2vw;
}

.main div.dblSection > section:first-of-type {

}

.main div.dblSection.reverse > section:first-of-type {
  margin-right: 2vw;
}

.main .section.imgSection,
.main .section.desktopImgSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main .section.imgSection > * {
  display: flex;
  width: 30%;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}

.main .section.imgSection > figure:nth-of-type(2) {
  display: flex;
  width: 36%;
  margin: 0 2%;
}

.main .section.desktopImgSection > * {
  display: flex;
  width: 100%;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}

.main h1,
.main h2,
.main h3,
.main h4 {
  line-height: 1;
}

.main h1,
.main h2 {

}

.main figure.desktopScreenshot {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  float: right;
}

.main figure.desktopScreenshot div.imgWrapper {
  position: relative;
  display: flex;
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}

.main figure.mobileScreenshot {
  display: flex;
  flex-direction: column;
  width: 20vw;
  position: relative;
}

.main figure.mobileScreenshot div.imgWrapper {
  position: relative;
  display: flex;
  aspect-ratio: 9/16;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}

.main figure figcaption {
  line-height: 1.1;
  font-size: 0.85rem;
  font-weight: 200;
  text-align: center;
  padding: 0.5rem;
  color: rgba(var(--foreground-rgb), 0.5);
}

.main h1 {
  font-size: 3rem;
  margin-top: 3rem;
  font-weight: 300;
  text-align: center;
}

.main h2 {
  margin-top: 2rem;
}

.main .section .twoCol {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.main .section.featuresSection {
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.main .section.featuresSection ul {
  margin-bottom: 3rem;
}

.main .section.featuresSection ul li {
  line-height: 1;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.main .section.featuresSection ul li span {
  font-size: 1rem;
  color: rgba(var(--foreground-rgb), 0.5);
}


.main .section .twoCol > .col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main .section .twoCol > .col:last-of-type {

}

.section p {
  font-weight: 200;
}

.section h2 {
  margin-bottom: 1.5rem;
  line-height: 1;
  font-weight: 300;
  font-size: 6vh;
}

.section h3 {
  margin-bottom: 0rem;
  font-weight: 300;
  font-size: 4vh;
}

.section.contact {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 4vh;
  font-weight: 200;
}

.section.contact p {
  margin-bottom: 2rem;
}

.section.contact ul {
  padding-left: 2rem;
}

.section.contact a {
  color: rgba(var(--link-rgb),1);
  font-weight: 200;
  text-decoration: underline;
}

/* Mobile */
@media screen and (max-width: 700px) {
  .main {
    padding: 2rem 1rem 2rem;
  }

  .main div.dblSection {
    margin-top: 4rem;
    margin-bottom: 0;
    flex-direction: column;
    flex-basis: reverse;
  }

  .main div.dblSection > * {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .section {

  }

  .section h2 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .section h3 {
    font-size: 1.5rem;
    text-align: left;
  }

  .section.contact {
    font-size: 1.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  .main {

  }
}
