.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main p {
  margin-top: 2rem;
  font-weight: 200;
}


/* Mobile */
@media screen and (max-width: 700px) {
  .main {
    padding: 2rem 1rem 2rem;
  }

}

@media (prefers-color-scheme: dark) {
  .main {

  }
}
