._ {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 4vh;
  font-weight: 200;
}

._ p {
  margin-bottom: 2rem;
}

._ p a {
  color: rgba(var(--link-rgb),1);
  font-weight: 400;
  text-decoration: underline;
}

/* Mobile */
@media screen and (max-width: 700px) {
  ._ {
    font-size: 1.2rem;
  }
}
