._ {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 4vh;
  font-weight: 200;
}

._ p {
  margin-bottom: 2rem;
}

._ p a {
  color: rgba(177,117,234,1);
  font-weight: 400;
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  ._ p a {
    color: rgba(77,0,153,1);
  }
}


/* Mobile */
@media screen and (max-width: 700px) {
  ._ {
    font-size: 1.2rem;
  }
}
